@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&text=┌─┬┐└┴┘│├┼┤╭╮╰╯┏━┳┓┗┛┃┡╇┩&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");


.md-header__topic:first-child {
  font-family: "Euphoria Script";
  font-size: 1.6rem;
  color: var(--overturemaestro-text-color);
}
